.container-whychooseuse{
    position: relative;
    background-color: #f7f4e5;
    padding: 0 28px 0 28px;
    transition: all .15s;
}


.card-body.text-center:hover {
    border: 1px solid green;
}
.title-whychooseuse{
    font-size: 20px;
    font: normal 650 15px / 1 var(--agrofa-font, "Inter", sans-serif);
    text-decoration: underline;
     
}

h5.card-title {
     
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: var(--agrofa-text5, #00200c);
}

h1.display-3 {
    font-weight: 600;
    color: #036427;
    font-family: var(--agrofa-heading-font, "Merriweather", cursive);
}

.bg-warning.p-4.rounded {
    
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    position: relative;
}

.manufacturers-title {
    font-size: 70px;
    font-weight: 600;
    line-height: 75px;
    color: #036427;
    word-wrap: break-word;
    margin: 43px 0;
    font-family: "Merriweather", serif;
    font-style: normal;
    text-align: center;
}
 .home-icon{
    background: green;
    border-radius: 50%;
    padding: 27px;
    border: 3px solid #ffc107;
    color:white;
    transition: all .5s;

 }
 .container-whychooseuse .card:hover {
    background: #e0f1af05;
    border-color:green;
}
.water-drop .card{
    transition: all .3s linear;
    padding:10px 0;
}
.water-drop .card:hover {
    border-radius:100px 0;
    border: 1px solid #abb600;
    box-shadow: 10px 10px 10px #a8b92c61;
}
.container-whychooseuse .card:hover .home-icon{
    background: #ffc107;
    border: 3px solid green;
    color:green;
}

.cetificate-bg {
    background-image: url('../../assets/img/9.webp');
    height: 100%;
    width: 100%;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
h4.tit-for {
    color: #f9d500;
    font-size: 54px;
    text-align: center;
    text-shadow: 5px 6px 3px #000;
}
.cetificate-bg ol li {
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-weight: bold;
    background: #ffff001f;
    margin-bottom: 10px;
    list-style: none;
}
.cetificate-bg ol li span {
    padding: 3px 10px;
    font-size: 26px;
}
.container-whychooseuse .card {
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
    padding:30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border:none;
    height:220px;
}
.dot-div h4{
    color: #0a5e2a !important;
    font-size: 30px;
    font-weight: 500;
    line-height: 47px;
    margin-bottom: 0;
    background: #f5d400;
    padding: 50px 42px;
    width: 80%;
    margin: auto;
    position: relative;
}
/* .dot-div h4::after {
    top: 14px;
    left: 97%;
} */

.dot-div h4::before,
.dot-div h4::after {
    font-family: "Font Awesome 5 Free"; /* Font Awesome font family */
    font-weight: 900; /* Font weight for solid icons */
    font-size: 50px; /* Adjust size as needed */
    position: absolute;
    display: block;
    color: #1c6423; /* Color of the icons */
}
.container-fluid.abt-y {
    border-radius: 0px 0px 50% 50%;
    padding-bottom: 10%;
}
.dot-div h4::before {
    content: "\f10d";
    left: 5px;
    top: 31px;
}
.dot-div h4::after {
    content: "\f10e";
    right: 289px;
    bottom: 32px;
}
/* 
.dot-div::after {
    content: '';
    position: absolute;

    display: block;
    background-color: #1c6423;
    bottom: 29px;
    left: 11%;
}
.dot-div::before {
    content: '';
    position: absolute;

    display: block;
    background-color: #1c6423;
    top: 27px;
    right: 11%;
    z-index: 1;
}
.dot-div h4::before {
    bottom: 14px;
    right: 97%;
} */
h4.title {
    text-align: center;
    color: #248000;
}
.card-icon {
    height: 120px;
    width: 120px;
    margin: auto;
    background: #f5d400;
    /* padding: 18px; */
    border-radius: 50%;
    border: 2px solid #248000;
}
.card-icon img {
    height: 100%;
    width: 100%;
    padding: 16px;
}
.card:hover .card-icon {
    background: #248000;
    border: 2px solid #f1d300;
}
.card-icon1 img {
    top: 125%;
    left: 32%;
}
.card-content h3{
    padding:10px 0;
    font: normal 600 24px / 38px var(--agrofa-font, "Inter", sans-serif);
    text-align: center;
}

@media(min-width:900px) and (max-width:1024px){
    .card-content h3 {
        font: normal 600 22px / 27px var(--agrofa-font, "Inter", sans-serif);
    }
    .your-reason__title {
        font-size: 50px!important;
        line-height: 58px!important;}
        .food-one::after {
            max-width: 487px!important;}
           .container-whychooseuse .card {
                padding: 0px;}
                h5.card-title {
                    font-size: 21px;
                    line-height: 27px;}
                    .dot-div h4::after {
                        right: 168px;}
                        .manufacturers-title {
                            font-size: 60px;}
                            h4.tit-for {
                                font-size: 39px;}
                                .cetificate-bg ol li span {
                                    padding:0;
                                    font-size: 18px;
                                }
                                .cetificate-bg ol li {
                                    background: #ffff0059;
                                    line-height: 51px;
                                }                                
}
@media (max-width: 768px) {
    .manufacturers-title {
        font-size: 40px;
        line-height: 51px;
        margin-bottom: 20px;
        padding: 0px 10px;
    }
    h4.tit-for {
        font-size: 26px !important;
        text-shadow: 1px 2px 3px #000 !important;
        color: #ffc107 !important;
    }
    .card-content h3 {
        font-size: 19px!important;
    line-height: 1!important;
    }
    .dot-div h4::before {
        left: 70px!important;
    } 
    .dot-div h4::after {
        right: 7px!important;
        bottom: 35px!important;
    } 
    .manufacturers-title {
        margin: 9px 0!important;}
    .dot-div h4::before, .dot-div h4::after {
        font-size: 33px!important;}
        .cetificate-bg ol li {
            background: #5c9f2480!important;}
}
@media(max-width:600px){

        .container-whychooseuse .card {
            padding: 10px!important;
        height:auto!important;} 
        .cetificate-bg ol{
            padding:0;
        }
        .cetificate-bg ol li {
            line-height: 32px!important;
            background: #ffc10796!important;
            margin-bottom: 25px!important;}
            .cetificate-bg ol li span {
                font-size: 17px!important;
            }.manufacturers-title {
                font-size: 27px;
                line-height: 1.4;
}
}