.timer{
    margin-left: 100px;
    transform: translateY(10%); 
    color: red;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}

.time p{
    font-size: 10px;
    transform: translateY(20%);

}
.time h3{
    font-size:30px ;
    transform:  translateY(10%);
    color: black;
    margin-bottom: 1rem;
} 
h3 b{
    color: red;
}

@media(max:1024px){
    .timer{
        margin-left: 50px;
        transform: translateY(8%); 
        color: red;
        font-weight: 600;
        text-align: center;
    }
}